*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

#main-header{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100vw;
    background-color: #FFFFFF;
    padding: 1rem;
}

#main-header .logo{
     background: url('/assets/logo.png') no-repeat center center/cover ;
     height: 52px;
     width: 90px;
     margin-top: 24px;
     margin-bottom: 24px;
     margin-left: 100px;
 }

#main-header ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#main-header ul li a {
    color:black;
    text-decoration: none;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#main-header .search-bar{
    border: 1px solid gray;
    width: 175px;
    height: 40px;
    margin-top: 30px;
    margin-right: 100px;
    border-radius: 33px;
}

#main-header .search-bar img{
    width: 17.49px;
    height: 17.49px;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 10px;
}

#main-header .search-bar input{
    font-family: 'Poppins', sans-serif;
    border: none;
    width: 50px;
    opacity: 50%;
    height: 30px;
    position: absolute;
    top:53px;
}

@media only screen and (max-width:600px) {

    #main-header{
        width: 100%;
        align-items: center;
    }

    #main-header .logo{
        position: absolute;
        left: 50px;
        height: 22px;
        width: 38px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
   

    #main-header ul{
        margin-left: 110px;
    }

    #main-header ul li a {
        padding: 0.35rem;
        margin: 0 0.15rem;
    }

    #main-header .search-bar{
        border:none;
    }
    
    #main-header .search-bar img{
        position: absolute;
        top: 35px;
        width: 13px;
        height: 13px;
    }
    

    #main-header .search-bar input{
        display: none;
    }
}


#main-page{
    display: flex;
}

#main-page .main-img{
    flex: 1;
    background: url('/assets/Shoe.png') no-repeat center center/cover;
    max-width: 809px;
    height: 690.32px;
    margin-top: 150px;
    margin-left: 100px;
}


#main-page .main-content{
    flex: 1;
}

#main-page .main-content .title-heading{
    width: 511px;
    font-size: 40px;
    height: 54px;
    line-height: 54px;
    margin-left: 50px;
    margin-top: 150px;
    color: #67599C;
}

#main-page .main-content .title-box{
    width: 380px;
    height: 31px;
    position: absolute;
    top: 310px;
    margin-left: 30px;
    border-radius: 18px;
    background-color: #67599C;
    opacity: 20%;
}

#main-page .main-content .title-bottom{
    width: 85px;
    line-height: 24px;
    height: 24px;
    margin-left: 50px;
    position: absolute;
    top: 335px;
}

#main-page .main-content .main-description{
    width: 505px;
    height: 120px;
    margin-top: 40px;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    margin-left: 50px;
}

#main-page .main-content .price{
    width: 97px;
    height: 42px;
    line-height: 42px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 28px;
    color: #000000;
}

#main-page .main-content .price-text{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 50%;
    margin-left: 50px;
    position: absolute;
    top: 560px;
}

#main-page .main-content .size {
    font-size:16px;
    line-height: 24px;
    margin-left: 55px;
    margin-top: 40px;
    color: #000000;
}

#main-page .main-content .boxes{
    display: flex;
    width: 550px;
    height: 120px;
    margin-left: 50px;
    flex-wrap: wrap;
   
}

#main-page .main-content .box{
    width: 120px;
    height: 42px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.14); 
    text-align: center;
padding-top: 7px; 
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 10px;
}

#main-page .main-content .btn{
    width: 226px;
    height: 60px;
    margin-top: 30px;
    border-radius: 33px;
    font-size: 18px;
    line-height: 54px;
    cursor: pointer;
}

#main-page .main-content .btn-dark{
    margin-left: 100px;
    background-color: #000000;
    color: #FFFFFF;
}



@media ( max-width:1024px ) and (min-width:600px) {
    #main-page .main-img{
        width: 600px;
       flex: 2;
    }
    
    #main-page .main-content{
        flex: 1;
    }

    #main-page .main-content .title-heading{
        width: 299px;
        font-size: 28px;
        height: 40px;
        margin-left: 170px;
    }

    #main-page .main-content .title-box{
        width: 270px;
        margin-left: 150px;
    }

    #main-page .main-content .title-bottom{
        margin-left: 170px;
       
    }    

    #main-page .main-content .main-description{
        width: 400px;
        height: 160px;
        margin-top: 60px;
        margin-left: 170px;
    }

    #main-page .main-content .price{
        margin-top: 50px;
        margin-left: 170px;
    }
    
    #main-page .main-content .price-text{
        margin-top: 65px;
        margin-left: 170px;
    }

    #main-page .main-content .size {
        margin-left: 170px;
    }

    #main-page .main-content .boxes{
        width: 360px;
        height: 120px;
        margin-left: 170px;
        flex-wrap: wrap; 
    }

    #main-page .main-content .box{
        width: 95px;
        height: 42px;
        margin-left: 10px;
        text-align: center;
        padding-top: 10px;
    }
    
    
    #main-page .main-content .box:nth-child(4) ,
    #main-page .main-content .box:nth-child(8){
        display: none;
    }

    #main-page .main-content .btn{
        width: 315px;
        height: 60px;
    }
    
    #main-page .main-content .btn-dark{
        margin-left: 170px;
    }

    #main-page .main-content .btn-light{
        margin-left: 170px;
    }
}

@media only screen and (max-width:600px) {
    #main-page{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-page .main-img{
        position: absolute;
        top: -20px;
        right: 40px ;
        width: 315px;
        height: 294.99px;
    }
    
    
    #main-page .main-content{
        flex: 2;
    }

    #main-page .main-content .title-heading{
        width: 299px;
        font-size: 28px;
        height: 40px;
        margin-top: 300px;
        margin-left: 30px;
    }

    #main-page .main-content .title-box{
        width: 260px;
        height: 21px;
        position: absolute;
        top: 430px;
        margin-left: 20px;
    }

    #main-page .main-content .title-bottom{
        margin-left: 31px;
        position: absolute;
        top: 447px
    }    

    #main-page .main-content .main-description{
        position: absolute;
        top: 910px;
        width: 300px;
        height: 180px;
        margin-top: 0px;
        margin-left: 30px;
    }

    #main-page .main-content .price{
        margin-top: 50px;
        margin-left: 31px;
    }
    
    #main-page .main-content .price-text{
        margin-top: -40px;
        margin-left: 30px;
    }

    #main-page .main-content .size {
        margin-left: 20px;
    }

    #main-page .main-content .boxes{
        width: 380px;
        height: 120px;
        margin-left: 5px;
        flex-wrap: wrap; 
    }

    #main-page .main-content .box{
        width: 95px;
        height: 42px;
        margin-left: 10px;
        text-align: center;
        padding-top: 10px;
    }
    
    
    #main-page .main-content .box:nth-child(4) ,
    #main-page .main-content .box:nth-child(8){
        display: none;
    }

    #main-page .main-content .btn{
        width: 315px;
        height: 60px;
    }
    
    #main-page .main-content .btn-dark{
        margin-left: 20px;
    }

    #main-page .main-content .btn-light{
        margin-left: 20px;
    }
}
